*, *::after, *::before{
    box-sizing: border-box;
}


body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

main h1{
    font-family: 'Roboto', sans-serif;
    font-size: var(--h1);
}

h2{
    font-family: 'Lobster two';
    font-size: var(--title);

}

p{
    font-size: var(--body);
}
h3{
    font-family: 'Lobster two';
    font-size: var(--oeuvre);
}
