.article__title::after{
    content: url(/public/icons/microphone1.png);
    position: relative;
    display: inline-flex;
    margin-left: 5px;
    height: 27px;
    width: 27px;
    margin-right: 22px;
}

.article__title{
    margin-left: 20px;
    margin-bottom: 15px;
}

.article__Main-title{
    margin-left: 16vw;
    margin-right: 16vw;
    text-align: center;
}

.article__txt{
    margin-right: 69px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.txt__design{
    position: relative;
}



.article__img{
    display: flex;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}


.article__designR, .article__designB, .article__designBF{ position: relative; }

.article__designR::after, .article__designB::after, .article__designBF::after{
    position: absolute;
    content: '';
    
    width: 28px;
    height: 100%;
    top: 0;
    right: 13px;
}

.article__designR::after{
    background-color: var(--rouge);
}
.article__designB::after{
    background-color: var(--bleu);
}
.article__designBF::after{
    background-color: var(--bleuf);
}


.article__title3{
    background-color: var(--white);
    height: 45px;
    width: 86vw;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.uniqueDesign{
    position: relative;
}

.uniqueDesign::after{
    position: absolute;
    content: '';
    background-color: red;
    width: 28px;
    height: 100%;
    top: 0;
    left: 0;

}

.article__quotes{
    position: relative;
    width: 140px;
    margin-left: 52px;
}

.article__quotes::before{
    position: absolute;
    content: '';
    width: 2px;
    background-color: var(--white);
    height: 100%;
    left: -27px;
}

.article__quotes2::after{
    position: absolute;
    content: '';
    width: 2px;
    background-color: var(--white);
    height: 100%;
    right: -10px;
    top: 0;
}


.article__quotes .article__txt{
    padding: 0;
    margin: 0;
}

.article__quotes2{
    position: relative;
    width: 140px;
    margin-left: auto;
    margin-right: 21vw;
}

.article__quotes2 .article__txt{
    padding: 0;
    margin: 0;
}


.article__img--fs{
    margin-top: 45px;
    margin-bottom: 30px;
}

.article__titleBox{
    width: 100vw;
    height: 100px;
    position: relative;
}



.article__titledesign{
    position: absolute;
    background-color: var(--bleuf);
    bottom: 0;
    left: 0;
    height: 16px;
    width: 50px;
}

.article__titledesign::before{
    position: absolute;
    content: '';
    background-color: var(--rouge);
    bottom: 100%;
    left: 0;
    height: 16px;
    width: 26px;
}
.article__titledesign::after{
    position: absolute;
    content: '';
    background-color: var(--bleu);
    bottom: 200%;
    left: 0;
    height: 16px;
    width: 39px;
}