.menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    font-size: var(--menu);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateX(100%);
    transition: all .8s ease;
}

.menu--open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu__list{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item{
    width: 100vw;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.menu__item a{
    text-decoration: none;
    color: var(--white);
}
.menu__item h3{
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 0;
}

.menu__item img{
    width: 50px;
    position: relative;
}

.menu__item:nth-child(4) img{
    width: 100px;
}

.menu__item::after{
    content: '';
    position: absolute;
    width: 46.6vw;
    height: 2px;
    top: calc(100% + 10px);
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: white;
}